<!-- <ul>
  <li class="text" *ngFor="let chat of chats | async">
    {{chat.nombre}}
  </li>
</ul>

<ul>
  <li class="text" *ngFor="let chat of chats2 | async">
    {{chat.mensaje}}
  </li>
</ul> -->
<div class="container main-container">
  <h1>Firechat</h1>

  <!-- Este boton es para desloguearnos y debemos inyectar el servicio en el app.component.ts -->
  <div class="col-md-12 text-right" *ngIf="chatservice.usuario.uid">
    <button type="button" class="btn btn-outline-danger"
            (click)="chatservice.logout()">
      Salir
    </button>
  </div>
  
  <app-login *ngIf="!chatservice.usuario.uid"></app-login>

  <div class="chat-window" *ngIf="chatservice.usuario.uid">
    <app-chat></app-chat>
  </div>
</div>